* {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.image {
    position: relative;
}

.rectangle {
    position: absolute;
    left: 0;
    top: 40px;
    width: 99px;
    height: 35px;
    background: #fed74b;
    border-radius: 0px;
}

.rectangle p {
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin: 6px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}


.cards_content {
    position: relative;
    width: 341px;
    height: 603px;
    top: 27px;
    border-radius: 16px 16px;
    border: 0.3px solid #828282;
    margin: 30px;
}

.clock {
    display: flex;
    justify-items: center;
    margin: 10px auto;
    padding-left: 10px;
}

.clock p {
    margin-left: 10px;
    color: #9e9e9e;
}

.descr {
    text-align-last: justify;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #404040;
    padding: 10px;
}

.texts {
    display: flex;
    justify-items: center;
    flex-direction: column;
    margin: 10px auto;
}

.text_content {
    list-style-image: url("../icons/mark.svg");
    padding-left: 35px;
}
.text_content li {
    padding-left: 20px;
    padding-bottom: 8px;
}

.time {
    margin-left: 25px;
    margin-top: -20px;
}

.time_rect {
    display: flex;
    width: 63px;
    height: 24px;
    list-style: none;
    padding: 5px;
}

.time_rect li {
    background: #d9e8ff;
    border-radius: 30px;
    display: inline-table;
    padding: 1px 15px;
    margin-left: 2px;
}

.time_rect li:hover {
    background: #6BA6FF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.time_rect a {
    text-decoration: none;
}

.dropbtn {
    background-color: #d9e8ff;
    color: #343434;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}

.dropbtn:hover {
    background: #6BA6FF;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 320px;
    overflow: auto;
    z-index: 1;
}

.dropdown li:hover {
    background: #6BA6FF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.dropbtn li:focus {
    background: #6BA6FF;
}

.show {
    display: flex;
    right: -20px;
}

.price_item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 29px;
}

.cost {
    font-weight: 400;
    font-size: 30px;
}

.cost_descr {
    font-weight: 400;
    font-size: 10px;
}

.other_rect button{
    width: 165px;
    height: 44px;
    background: #FED74B;
    border: 0px;
    border-radius: 20px;
    cursor: pointer;
}

.other_btn:hover {
    background: #fddc65;
}

.other_btn:focus {
    box-shadow: inset 1px 1px 5px black;
}

.rectangle_blue {
    position: absolute;
    left: 0;
    top: 0px;
    width: 130px;
    height: 43px;
    background: #7553FF;
    border-radius: 15px 0px 12px;
}

.rectangle_blue p {
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin: 10px;
    color: white;
}
